* {
    box-sizing: border-box;
}
body.html3{
    background-color: floralwhite;
    background-image: url("/images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI1LTAxL2FyLTIxMDEyNS10YS0wMDhiLW02NXczNHZsLmpwZw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bg{
    background-color: hsla(41, 100%,
    93%, 1);
}   
#h1 {
  font-family: Courier;
  font-weight: bold;
  font: 40px;
  
  letter-spacing: -5px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 4px 4px 3px hsla(338, 
  100%, 93%, 1);

  border: 10px inset antiquewhite;
  border-radius: 100px;
  line-height: 20px;
  padding: 20px;
  
  box-shadow: 7px 6px 5px hsla(36,
  0%, 33%, 1);
  margin-bottom: 200px;
}

#pset{
    border-radius: 100px;
    border: 10px outset antiquewhite;
    
    text-align: center;
    line-height: 20px;
    padding: 20px;
    
    box-shadow: 7px 6px 5px hsla(36,
    0%, 33%, 1);

    margin-bottom: 50px;
    
}
#p1{
    color: palevioletred;
    font-family: Georgia;
}
#p2{
    font-family: 'Courier New';
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -2px;
}
.odd{   
    color: cadetblue;
    font-family: monospace;
}

#pset2{
    border-radius: 100px;
    border: 10px outset antiquewhite;
    
    text-align: center;
    line-height: 20px;
    padding: 30px;
    
    box-shadow: 7px 6px 5px hsla(36,
    0%, 33%, 1);
    
    margin-left: 150px;
    display: flow-root;
    overflow: scroll;
    
}
#image1{
    float: left;
    padding-left: 25px;
    width: 200px;
}
#image2{
    float: right;
    padding-right: 25px;
    width: 200px;
}

#pset3{
    border-radius: 100px;
    border: 10px outset hsla(203,
    100%, 77%, 1);
    
    height: 100px;
    
    text-align: center;
    line-height: 20px;
    padding: 20px;
    
    box-shadow: 7px 6px 5px hsla(36,
    0%, 33%, 1);
    
    margin-bottom: 50px;
    margin-top: 50px;
    
    width: 40%;
    overflow: auto;
    
    background-color: hsla(203,
    100%, 94%, 1);
}    

#block{
    text-align: center;
    
    width: 50px;
    height: 50px;
    background-color: hsla(360, 100%, 72%, 1);
    display: inline;
}

#block2{
    text-align: center;
    
    width: 75px;
    height: 75px;
    background-color: hsla(173, 100%, 79%, 1);
    display: block;
}

#block3{
    height: 50%;
    width: 50%;
    padding: 25px;
    
    float: left;
    
    background-color: hsla(59, 100%, 79%, 1);
}

.box{
    border: 10px outset antiquewhite;
    
    text-align: center;
    line-height: 20px;
    padding: 30px;
    
    box-shadow: 7px 6px 5px hsla(36,
    0%, 33%, 1);
}

#listBox{
    border: 10px outset antiquewhite;
    background-color:hsla(34, 100%, 86%, 1);
    
    line-height: 20px;
    padding: 5%;
    width: 75%;
    height: 300px;
    margin: 100px;
    
    box-shadow: 7px 6px 5px hsla(36,
    0%, 33%, 1);
    
    overflow: scroll;
}

#list li{
    background-color: hsla(34, 0%, 71%, 1)
}
#list>li{
    background-color: hsla(34, 100%, 69%, 1);
}
#listBox+div{
    background-color: hsla(293, 100%, 78%, 1);
}
#list~p{
    background-color: hsla(94, 100%, 78%, 1);
}

#h::first-letter{
    font-size: 2em;
    font-style: italic;
    
}
#cttdesc::first-line{
    background-color: hsla(97, 100%, 84%, 1);
}
#items li::marker{
    content: "√";
    color: hsla(65, 100%, 13%, 1);
}
#apple::after{
    content: "🍎";
}
#atom::after{
    content: "⚛️"
}
#battery::before{
    content: "☢️";
}
#battery::after{
    content: "🔋"
}

.paginations a{
    background-color: hsla(30, 16%, 53%, 1);
}

.dropDown button{
    margin-top: 5px;
    padding: 10px;
    border: 3px outset hsla(35, 29%, 50%, 1);
    border-radius:5px;
    
    font-size: 20px 20px;
    
    background-color: hsla(33, 28%, 45%, 1);
}
.dropDown button:active{
    background-color: hsla(35, 27%, 48%, 1);
    border: 1px outset hsla(35, 27%, 48%, 1);
}

.htmlItems{
    position: absolute;
    box-shadow: 3px 2px 3px hsla(35, 0%, 0%, 1);
    
    display: none;
}

.htmlItems a{
    background-color: #FFE1B7;
    min-width: 100px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.dropDown:active .hmtlItems{
    display: block;
}